<form [formGroup]="ConversionForm" (ngSubmit) = "convertCurrency()">
    Value :
    <input type="number" id="inputValue" placeholder="enter value" name="inputValue" formControlName="inputValue" />
    <br><br>
        From : 
        <select name="from" id="from" placeholder="enter from currency" formControlName="from">
            
            <option value="USD">USD</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
            <option value="EUR">EUR</option>
            <option value="CAD">CAD</option>
        </select>
        <br><br>
        To : 
        <select name="to" id="to" placeholder="enter to currency" formControlName="to">
            
            <option value="USD">USD</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
            <option value="EUR">EUR</option>
            <option value="CAD">CAD</option>
        </select>
    
    
    <br><br>

    <button>Convert</button>

    <div class="result">
        <p *ngIf = "result != -1" >{{result}} </p>
    </div>

</form>